header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 50px;
	width: 100%;
	height: 60px;
	background: #fff;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

header .logo {
	height: 60px;
	width: 200px;
	float: left;
}

header .logo a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 800;
	color: #5f0a87;
}

header .logo a img {
	width: 100%;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li {
	list-style: none;
}

header nav ul li a {
	height: 60px;
	line-height: 50px;
	padding: 0 20px;
	color: slateblue;
	text-decoration: none;
	display: block;
	transition: .3s;
}

header nav ul li a:hover,
header nav ul li a.active {
	color: #fff;
	background: slateblue;
	font-weight: 500;
}

.toggle-menu {
	color: #000;
	line-height: 50px;
	font-size: 28px;
	cursor: pointer;
	display: none;
	position: absolute;
	right: 20px;
	top: 10px;
}

@media (max-width:991px) {
	

	header .logo {
		width: 130px;
	}

	header .logo a img {
		width: 190px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header {
		padding: 0 30px;
	}

	header nav {
		position: absolute;
		background: #333;
		width: 100%;
		height: calc(100vh - 50px);
		top: 60px;
		right: -100%;
		transition: .5s;
		z-index: 5;
	}

	header nav.active {
		right: 0;
	}

	.toggle-menu {
		display: block;
	}

	header nav ul {
		display: block;
		text-align: center;
	}

	header nav ul li a {
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}